$charcoal: #bbb;

.main-header {
  align-items: center;
  border-right: 1px solid $charcoal;
  display: flex;
  height: 100%;
  padding: 0 2em;
  flex-direction: column;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;

}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: 20%;
    width: 160%;
    // padding: 0 0px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      // border: 1px solid $charcoal;
      // margin-bottom: 5px;
      text-align: center;
      width: 100%;
    }
  }
}
