.feed {
  margin-left: 1.5vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; 
  }

  .row {
    width: 75vw;
  }

  @media (max-width: 600px){
    h1,h2 {
      font-size: 100%;
    }
    .row{
      width: 100vw;
    }
  }
