.post {
    .button {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }
    :hover {
      .button {
        visibility: visible;
        opacity: 1;
        >button{
          margin: 0 10vw 0 10vw ;
          
        }
      }
    }
}

